{
	"source": {
		"directories": [
			"src/"
		],
		"excludes": [
			"Config",
		]
	},
	"logs": {
		"text": "build/infection.log"
	},
	"mutators": {
		"@default": true
	},
	"bootstrap": "vendor/codeigniter4/framework/system/Test/bootstrap.php"
}